<div class="myFooter">
    <h1 class="card-title">Build the future of Services</h1>
    <p>
        At HEY Provider, we're looking for hard-working, passionate people to help us create the next million jobs
        in India.
    </p>
</div>
<div class="container txt-under-header-img">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center text">UrbanCompany is India's largest home
        services marketplace. The platform helps customers hire trusted professionals for services like salon at
        home, cleaning, plumbing, carpentry, interior design, wedding photography, yoga training etc. Since its
        inception in 2014, UrbanCompany has built a network of 100,000+ hand-picked service professionals, and
        served over 2 million customers across major metropolitan cities of India.</div>
</div>

<section class="bg-light-gray home">
    <div class="container">
        <div class="row">

            <div class="space50 hidden-xs"></div>
            <div class="space30 visible-xs"></div>
            <div id="gridBigImage" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
                <div class="video-wrapper">
                    <iframe allowfullscreen="allowfullscreen" width="100%" height="523px"
                        src="https://www.youtube.com/embed/aEBPdaABZB4">
                    </iframe>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div id="gridSquareImage" class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 spaceleft">
                        <div class="space20 visible-xs"></div>
                        <div class="video-wrapper">
                            <iframe allowfullscreen="allowfullscreen" width="100%" height="100%"
                                src="https://www.youtube.com/embed/A-dni0dkwYs">
                            </iframe>
                        </div>
                    </div>
                    <div class="space20 visible-xs"></div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 spaceleft">
                        <div class="video-wrapper">
                            <iframe allowfullscreen="allowfullscreen" width="100%" height="100%"
                                src="https://www.youtube.com/embed/WSjrz96ALLY">
                            </iframe>
                        </div>
                    </div>
                    <div class="space20 visible-xs"></div>
                    <div class="space5 hidden-xs"></div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <img src="assets/ac.jpg" alt="UrbanCompany" class="spaceleft">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="position">
    <div class="container">
        <div class="row ">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <a href="https://jobs.lever.co/urbanclap">
                    <h2 class="section-heading">Open positions</h2>
                </a>
                <div class="space30 hidden-xs"></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 openPositions ">
                <a href="https://jobs.lever.co/urbanclap?team=Administration" data-toggle="modal" class="position-grid"
                    id="deptListadmin">
                    <h4>Admin</h4>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 openPositions ">
                <a href="https://jobs.lever.co/urbanclap?team=Brand%20%26%20PR" data-toggle="modal"
                    class="position-grid" id="deptListbrand">
                    <h4>Brand &amp; PR</h4>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 openPositions ">
                <a href="https://jobs.lever.co/urbanclap?department=Business%20Development" data-toggle="modal"
                    class="position-grid" id="deptListbusiness">
                    <h4>Business</h4>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 openPositions ">
                <a href="https://jobs.lever.co/urbanclap?team=Consumer%20Experience" data-toggle="modal"
                    class="position-grid" id="deptListcx">
                    <h4>Customer Experience</h4>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 openPositions ">
                <a href="https://jobs.lever.co/urbanclap?team=Engineering" data-toggle="modal" class="position-grid"
                    id="deptListeng">
                    <h4>Engineering</h4>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 openPositions ">
                <a href="https://jobs.lever.co/urbanclap?department=Product" data-toggle="modal" class="position-grid"
                    id="deptListproduct">
                    <h4>Product</h4>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 openPositions ">
                <a href="https://jobs.lever.co/urbanclap?team=Finance" data-toggle="modal" class="position-grid"
                    id="deptListfinance">
                    <h4>Finance</h4>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 openPositions ">
                <a href="https://jobs.lever.co/urbanclap?team=Human%20Resource" data-toggle="modal"
                    class="position-grid" id="deptListhr">
                    <h4>Human Resource</h4>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 openPositions ">
                <a href="https://jobs.lever.co/urbanclap?team=Product%20Design" data-toggle="modal"
                    class="position-grid" id="deptListpd">
                    <h4>Product Design</h4>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="position positionplace">
    <div class="container py-4">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <h2>Meet The Team</h2>
                <ul id="tabs" class="nav nav-tabs">
                    <li class="nav-item"><a href="" data-target="#home1" data-toggle="tab"
                            class="nav-link  text-uppercase active">PRODUCT</a></li>
                    <li class="nav-item"><a href="" data-target="#home2" data-toggle="tab"
                            class="nav-link text-uppercase">DESIGN</a></li>
                    <li class="nav-item"><a href="" data-target="#home3" data-toggle="tab"
                            class="nav-link text-uppercase">ENGINEERING</a></li>
                    <li class="nav-item"><a href="" data-target="#home4" data-toggle="tab"
                            class="nav-link text-uppercase">MARKETING</a></li>
                    <li class="nav-item"><a href="" data-target="#home5" data-toggle="tab"
                            class="nav-link text-uppercase">HR</a></li>
                    <li class="nav-item"><a href="" data-target="#home6" data-toggle="tab"
                            class="nav-link text-uppercase">BUSINESS</a></li>
                    <li class="nav-item"><a href="" data-target="#home7" data-toggle="tab"
                            class="nav-link text-uppercase">OPERATION</a></li>
                    <li class="nav-item"><a href="" data-target="#home8" data-toggle="tab"
                            class="nav-link text-uppercase">FINANCE</a></li>
                </ul>
                <br>
                <div id="tabsContent" class="tab-content">
                    <div id="home1" class="tab-pane fade">
                        <div class="container1">
                            <div class="box">
                                <img
                                    src="https://images.unsplash.com/photo-1549068106-b024baf5062d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80">
                                <span>Smit Sabuwala</span>
                            </div>
                            <div class="box">
                                <img
                                    src="https://images.unsplash.com/photo-1552058544-f2b08422138a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                                <span>Varshil Panchal</span>
                            </div>
                            <div class="box">
                                <img
                                    src="https://images.unsplash.com/photo-1495366691023-cc4eadcc2d7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                                <span>Shalin Sabuwala</span>
                            </div>
                            <div class="box">
                                <img
                                    src="https://images.unsplash.com/photo-1565260524775-7e9b536fba2f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                                <span>Panitan Panpunag</span>
                            </div>
                        </div>
                    </div>

                    <div id="home2" class="tab-pane fade">
                        <div class="container1">
                            <div class="box">
                                <img
                                    src="https://images.unsplash.com/photo-1549068106-b024baf5062d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80">
                                <span>CSS</span>
                            </div>
                            <div class="box">
                                <img
                                    src="https://images.unsplash.com/photo-1552058544-f2b08422138a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                                <span>Image</span>
                            </div>
                            <div class="box">
                                <img
                                    src="https://images.unsplash.com/photo-1495366691023-cc4eadcc2d7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                                <span>Hover</span>
                            </div>
                            <div class="box">
                                <img
                                    src="https://images.unsplash.com/photo-1565260524775-7e9b536fba2f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                                <span>Effect</span>
                            </div>
                        </div>
                    </div>
                    <div id="home3" class="tab-pane fade">
                        <div class="container1">
                            <div class="box">
                                <img
                                    src="https://images.unsplash.com/photo-1549068106-b024baf5062d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80">
                                <span>CSS</span>
                            </div>
                            <div class="box">
                                <img
                                    src="https://images.unsplash.com/photo-1552058544-f2b08422138a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                                <span>Image</span>
                            </div>
                            <div class="box">
                                <img
                                    src="https://images.unsplash.com/photo-1495366691023-cc4eadcc2d7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                                <span>Hover</span>
                            </div>
                            <div class="box">
                                <img
                                    src="https://images.unsplash.com/photo-1565260524775-7e9b536fba2f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                                <span>Effect</span>
                            </div>
                        </div>
                    </div>
                    <div id="home4" class="tab-pane fade">
                        <div class="container1">
                            <div class="box">
                                <img
                                    src="https://images.unsplash.com/photo-1549068106-b024baf5062d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80">
                                <span>CSS</span>
                            </div>
                            <div class="box">
                                <img
                                    src="https://images.unsplash.com/photo-1552058544-f2b08422138a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                                <span>Image</span>
                            </div>
                            <div class="box">
                                <img
                                    src="https://images.unsplash.com/photo-1495366691023-cc4eadcc2d7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                                <span>Hover</span>
                            </div>
                            <div class="box">
                                <img
                                    src="https://images.unsplash.com/photo-1565260524775-7e9b536fba2f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                                <span>Effect</span>
                            </div>
                        </div>
                    </div>
                    <div id="home5" class="tab-pane fade">
                        <div class="container1">
                            <div class="box">
                                <img
                                    src="https://images.unsplash.com/photo-1549068106-b024baf5062d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80">
                                <span>CSS</span>
                            </div>
                            <div class="box">
                                <img
                                    src="https://images.unsplash.com/photo-1552058544-f2b08422138a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                                <span>Image</span>
                            </div>
                            <div class="box">
                                <img
                                    src="https://images.unsplash.com/photo-1495366691023-cc4eadcc2d7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                                <span>Hover</span>
                            </div>
                            <div class="box">
                                <img
                                    src="https://images.unsplash.com/photo-1565260524775-7e9b536fba2f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                                <span>Effect</span>
                            </div>
                        </div>
                    </div>
                    <div id="home6" class="tab-pane fade">
                        <div class="container1">
                            <div class="box">
                                <img
                                    src="https://images.unsplash.com/photo-1549068106-b024baf5062d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80">
                                <span>CSS</span>
                            </div>
                            <div class="box">
                                <img
                                    src="https://images.unsplash.com/photo-1552058544-f2b08422138a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                                <span>Image</span>
                            </div>
                            <div class="box">
                                <img
                                    src="https://images.unsplash.com/photo-1495366691023-cc4eadcc2d7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                                <span>Hover</span>
                            </div>
                            <div class="box">
                                <img
                                    src="https://images.unsplash.com/photo-1565260524775-7e9b536fba2f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                                <span>Effect</span>
                            </div>
                        </div>
                    </div>
                    <div id="home7" class="tab-pane fade">
                        <div class="container1">
                            <div class="box">
                                <img
                                    src="https://images.unsplash.com/photo-1549068106-b024baf5062d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80">
                                <span>CSS</span>
                            </div>
                            <div class="box">
                                <img
                                    src="https://images.unsplash.com/photo-1552058544-f2b08422138a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                                <span>Image</span>
                            </div>
                            <div class="box">
                                <img
                                    src="https://images.unsplash.com/photo-1495366691023-cc4eadcc2d7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                                <span>Hover</span>
                            </div>
                            <div class="box">
                                <img
                                    src="https://images.unsplash.com/photo-1565260524775-7e9b536fba2f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                                <span>Effect</span>
                            </div>
                        </div>
                    </div>
                    <div id="home8" class="tab-pane fade">
                        <div class="container1">
                            <div class="box">
                                <img
                                    src="https://images.unsplash.com/photo-1549068106-b024baf5062d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80">
                                <span>CSS</span>
                            </div>
                            <div class="box">
                                <img
                                    src="https://images.unsplash.com/photo-1552058544-f2b08422138a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                                <span>Image</span>
                            </div>
                            <div class="box">
                                <img
                                    src="https://images.unsplash.com/photo-1495366691023-cc4eadcc2d7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                                <span>Hover</span>
                            </div>
                            <div class="box">
                                <img
                                    src="https://images.unsplash.com/photo-1565260524775-7e9b536fba2f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                                <span>Effect</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>