<section class="segment1 space-mini">
    <div class="cont">
        <div class="row flex-box row-trust content_position">
            <div class="col-md-6 col-md-offset-6">
                <p>&nbsp;</p>
                <h2 class="font-30 accent2 small-line-height "><strong>Why do people choose our Services over the
                        rest ?</strong></h2>
                <ul class="fa-ul font">
                    <li><i class="fa fa-check fa-li accent"></i> Experienced and Certified IT Professionals</li>
                    <li><i class="fa fa-check fa-li accent"></i> All-inclusive services for a fixed monthly fee with no
                        surprises</li>
                    <li><i class="fa fa-check fa-li accent"></i> Near-immediate response from our Support Team, 24x7x365
                    </li>
                    <li><i class="fa fa-check fa-li accent"></i> Near-zero chance of downtime due to our proactive
                        approach and business continuity solutions</li>
                    <li><i class="fa fa-check fa-li accent"></i> A proven track record of delivering as promised and an
                        A+ rating with the BBB to prove it</li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="feature">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="/assets/2.jpg">
            </div>
            <div class="col-md-6">
                <h2>Health Care</h2>
                <p>We understand the importance of protecting your patient’s data from unauthorized intruders and
                    have
                    helped our clients
                    safe-guard their clinics from the latest cyber security threats. Your patients’ data is too
                    important to leave in the
                    hands of inexperienced IT Professionals. Let us show you how our tested and proven approach to
                    achieving HIA compliance
                    can give you the peace of mind you deserve.</p>

            </div>
        </div>
    </div>
</section>

<section class="feature">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Mechanic</h2>
                <p>I am responsible for inspecting and repairing vehicles, machinery, and light trucks. Also known as Service Technicians, these professionals oversee maintenance inspections, monitor inventory, assemble mechanical components, and perform repairs. We usually work in garages that are indoors.</p>
            </div>
            <div class="col-md-6">
                <img src="/assets/3.png">
            </div>
        </div>
    </div>
</section>

<section class="feature">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="/assets/man1.jpg">
            </div>
            <div class="col-md-6">
                <h2>Accounting</h2>
                <p>We give you productivity-enhancement tools and best-in-class security to protect the confidentiality
                    of your client's
                    accounting data while specializing in the most common accounting applications, and we know that when
                    it's tax season it
                    means "all hands on deck" so our team is on high alert to ensure there are no disruptions to your
                    productivity.</p>
            </div>
        </div>
    </div>
</section>