<div class="super_container">

	<!-- About -->

	<div class="about">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_subtitle">simply amazing work </div>
					<div class="section_title"><h2>A few words about us</h2></div>
				</div>
			</div>
			<div class="row about_row">
				<div class="col-lg-6">
					<div class="about_content">
						<div class="text_highlight">“HEY Provider” is the software that can be used by the customer for solve their daily accessed accessories, which caters large number of people. This software basically known as service provider.</div>
						<div class="about_text">
							<p> A managed service provider is third party software that provides the basic services to the customer. The system should get the user details such as name, age, address, mobile no which the system can provide the basic services to the user. The software should provide search options.</p>
						</div>
						<div class="button about_button"><a href="#">read more</a></div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="about_image"><img src="assets/bg.jpg" alt=""></div>
				</div>
			</div>
		</div>
	</div>
	<!-- Why Choose Us -->

	<div class="why">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="/assets/why.jpg" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_subtitle">simply amazing places</div>
					<div class="section_title"><h2>Why choose us?</h2></div>
				</div>
			</div>
			<div class="row why_row">
				
				<!-- Why item -->
				<div class="col-lg-4 why_col">
					<div class="why_item">
						<div class="why_image">
							<img src="/assets/worker.jpg" alt="">
							<div class="why_icon d-flex flex-column align-items-center justify-content-center">
								<img src="/assets/img_specialize_accounting.png" alt="">
							</div>
						</div>
						<div class="why_content text-center">
							<div class="why_title">Fast Services</div>
							<div class="why_text">
								<p>We value the precious time of our customers</p>
							</div>
						</div>
					</div>
				</div>

				<!-- Why item -->
				<div class="col-lg-4 why_col">
					<div class="why_item">
						<div class="why_image">
							<img src="/assets/500_F_245994047_xHXndlludNOJ7eWi7fkxsDCG0KXb4Xls.jpg" alt="">
							<div class="why_icon d-flex flex-column align-items-center justify-content-center">
								<img src="/assets/bg.jpg" alt="">
							</div>
						</div>
						<div class="why_content text-center">
							<div class="why_title">Great Team</div>
							<div class="why_text">
								<p>Only Profesionals = No compromise in quality  </p>
							</div>
						</div>
					</div>
				</div>

				<!-- Why item -->
				<div class="col-lg-4 why_col">
					<div class="why_item">
						<div class="why_image">
							<img src="/assets/deal.jpg" alt="">
							<div class="why_icon d-flex flex-column align-items-center justify-content-center">
								<img src="/assets/best_deal.jpg" alt="">
							</div>
						</div>
						<div class="why_content text-center">
							<div class="why_title">Best Deals</div>
							<div class="why_text">
								<p>Great services at reasonable pricing thats our  moto. </p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Team -->

	<div class="team">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_subtitle">simply amazing work </div>
					<div class="section_title"><h2>Meet the Team</h2></div>
				</div>
			</div>
			<div class="row team_row">
				
				<!-- Team Item -->
				<div class="col-xl-6 col-md-6 team_col">
					<div class="team_item d-flex flex-column align-items-center justify-content-start text-center">
						<div class="team_image"><img src="/assets/team_1.jpg" alt=""></div>
						<div class="team_content">
							<div class="team_title"><a href="#">Varshil Panchal</a></div>
							<div class="team_text">
								<p>ER NO : 1620BECE30061 < /p>
							</div>
						</div>
					</div>
				</div>

				<!-- Team Item -->
				<div class="col-xl-6 col-md-6 team_col">
					<div class="team_item d-flex flex-column align-items-center justify-content-start text-center">
						<div class="team_image"><img src="/assets/team_1.jpg" alt=""></div>
						<div class="team_content">
							<div class="team_title"><a href="#">Chintan Chavda </a></div>
							<div class="team_text">
								<p>ER NO : 1620BECE30010</p>
							</div>
						</div>
					</div>
				</div>

				<!-- Team Item -->
				<!-- <div class="col-xl-3 col-md-6 team_col">
					<div class="team_item d-flex flex-column align-items-center justify-content-start text-center">
						<div class="team_image"><img src="images/team_3.jpg" alt=""></div>
						<div class="team_content">
							<div class="team_title"><a href="#">Michael James</a></div>
							<div class="team_text">
								<p>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus massa.</p>
							</div>
						</div>
					</div>
				</div> -->

				<!-- Team Item -->
				<!-- <div class="col-xl-3 col-md-6 team_col">
					<div class="team_item d-flex flex-column align-items-center justify-content-start text-center">
						<div class="team_image"><img src="images/team_4.jpg" alt=""></div>
						<div class="team_content">
							<div class="team_title"><a href="#">Noah Smith</a></div>
							<div class="team_text">
								<p>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus massa.</p>
							</div>
						</div>
					</div>
				</div> -->

			</div>
		</div>
	</div>
</div>
