<br>
<br>
<br>
<div class="app-body">
    <main class="main d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card mx-4">
                        <div class="card-body p-4">
                            <form [formGroup]='registrationForm' class="needs-validation"
                                (ngSubmit)="PostData(registrationForm)">
                                <h1>Register</h1>
                                <p class="text-muted">Create your account</p>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user"
                                                aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" class="form-control" formControlName="userName"
                                        placeholder="UserName" autocomplete="userName"
                                        [ngClass]="{ 'is-invalid': submitted && f.userName?.errors }" required>
                                    <div *ngIf="submitted && f.userName?.errors" class="invalid-feedback">
                                        <div *ngIf="f.userName?.errors?.required">userName is required</div>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-envelope"
                                                aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email" formControlName="email"
                                        autocomplete="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                                        required>
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">Name is required</div>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-key"
                                                aria-hidden="true"></i></span>
                                    </div>
                                    <input type="password" class="form-control" placeholder="Password"
                                        formControlName="password" autocomplete="new-password"
                                        [ngClass]="{ 'is-invalid': submitted && f?.password?.invalid }" required>
                                    <div *ngIf="submitted && f.password?.errors" class="invalid-feedback">
                                        <div *ngIf="f.password?.errors?.required">Enter Your Password</div>
                                    </div>
                                </div>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-key"
                                                aria-hidden="true"></i></span>
                                    </div>
                                    <input type="password" class="form-control" placeholder="Repeat password"
                                        formControlName="confirmPassword" autocomplete="new-password"
                                        [ngClass]="{ 'is-invalid': submitted && f?.confirmPassword?.invalid }" required>
                                    <div *ngIf="submitted && f.confirmPassword?.errors" class="invalid-feedback">
                                        <div *ngIf="f.confirmPassword?.errors?.required">Please reEnter Your Password
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" value="Post Data" class="btn btn-block btn-success">Create
                                    Account</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<br>
<br>
<br>