.backimmageac{
    background: linear-gradient(rgba(83, 69, 69, 0.62), rgba(105, 89, 89, 0.9)), url(/assets/ac.jpg);
}
.backimmagefreej{
    background: linear-gradient(rgba(83, 69, 69, 0.62), rgba(105, 89, 89, 0.9)), url(/assets/Freej.png);
}
.backimmagewashing{
    background: linear-gradient(rgba(83, 69, 69, 0.62), rgba(105, 89, 89, 0.9)), url(/assets/washing.jpeg);
}
.backimmagevr{
    background: linear-gradient(rgba(83, 69, 69, 0.62), rgba(105, 89, 89, 0.9)), url(/assets/vr.jpg);
}
.backimmagesi{
    background: linear-gradient(rgba(83, 69, 69, 0.62), rgba(105, 89, 89, 0.9)), url(/assets/solar_bnr.jpg);
}
.backimmagesm{
    background: linear-gradient(rgba(83, 69, 69, 0.62), rgba(105, 89, 89, 0.9)), url(/assets/solerpannel.jpg);
}
.backimmagecctv{
    background: linear-gradient(rgba(83, 69, 69, 0.62), rgba(105, 89, 89, 0.9)), url(/assets/cctv.jpg);
}
.backimmagealarm{
    background: linear-gradient(rgba(83, 69, 69, 0.62), rgba(105, 89, 89, 0.9)), url(/assets/alarm.jpg);
}
.backimmagevt{
    background: linear-gradient(rgba(83, 69, 69, 0.62), rgba(105, 89, 89, 0.9)), url(/assets/vt.jpg);
}  
.backimmagehc{
    background: linear-gradient(rgba(83, 69, 69, 0.62), rgba(105, 89, 89, 0.9)), url(/assets/hc.jpg);
}    
.backimmageoc{
    background: linear-gradient(rgba(83, 69, 69, 0.62), rgba(105, 89, 89, 0.9)), url(/assets/oc.png);
}  
.backimmagevc{
    background: linear-gradient(rgba(83, 69, 69, 0.62), rgba(105, 89, 89, 0.9)), url(/assets/vc.jpg);
}
.backimmagehs{
    background: linear-gradient(rgba(83, 69, 69, 0.62), rgba(105, 89, 89, 0.9)), url(/assets/footer-image.jpg);
}      
h6{
    color:#ffffff;
}
.uper_marg{
    margin-top: 10px;
}