<!-- <div class="modal-header">
</div> -->
<div class="modal-body">
  <tabset>
    <tab heading="Electronic" id="tab1">
      <div class="uper_marg">
        <div class="card-deck">
          <div class="card">
            <div class="backimmageac">
              <div class="card-body">
                <h6 class="card-title">AC Reparing</h6>
                <br><br><br><br><br><br>
                <button type="button" class="btn btn-primary" (click)="bsModalRef.hide()" (click)=" ACrepair()">Select
                  your services</button>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="backimmagefreej">
              <div class="card-body">
                <h6 class="card-title">Refrigirator</h6>
                <br><br><br><br><br><br>
                <button type="button" class="btn btn-primary">Select your
                  services</button>

              </div>
            </div>
          </div>
          <div class="card">
            <div class="backimmagewashing">
              <div class="card-body">
                <h6 class="card-title">Washing Machine</h6>
                <br><br><br><br><br><br>
                <button type="button" class="btn btn-primary">Select your services</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </tab>

    <tab heading="Solar Energy" id="tab2">
      <div class="uper_marg">
        <div class="card-deck">
          <div class="card">
            <div class="backimmagesi">
              <div class="card-body">
                <h6 class="card-title">Solar System Installation </h6>
                <br><br><br><br><br><br>
                <button type="button" class="btn btn-primary">Select your
                  services</button>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="backimmagesm">
              <div class="card-body">
                <h6 class="card-title">Solar System Maintainance</h6>
                <br><br><br><br><br><br>
                <button type="button" class="btn btn-primary">Select your
                  services</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </tab>

    <tab heading="Security System" id="tab1">
      <div class="uper_marg">
        <div class="card-deck">
          <div class="card">
            <div class="backimmagecctv">
              <div class="card-body">
                <h6 class="card-title">CCTV Installation</h6>
                <br><br><br><br><br><br>
                <button type="button" class="btn btn-primary">Select your
                  services</button>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="backimmagealarm">
              <div class="card-body">
                <h6 class="card-title">Alarm Installation</h6>
                <br><br><br><br><br><br>
                <button type="button" class="btn btn-primary">Select your
                  services</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </tab>

    <tab heading="Automobile" id="tab1">
      <div class="uper_marg">
        <div class="card-deck">
          <div class="card">
            <div class="backimmagevr">
              <div class="card-body">
                <h6 class="card-title">Vehicle Repairing</h6>
                <br><br><br><br><br><br>
                <button type="button" class="btn btn-primary">Select your
                  services</button>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="backimmagevt">
              <div class="card-body">
                <h6 class="card-title">Vehicle Towing</h6>
                <br><br><br><br><br><br>
                <button type="button" class="btn btn-primary">Select your
                  services</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </tab>
    <tab heading="Cleaning" id="tab1">
      <div class="uper_marg">
        <div class="card-deck">
          <div class="card">
            <div class="backimmagehc">
              <div class="card-body">
                <h6 class="card-title">Home Clean</h6>
                <br><br><br><br><br><br>
                <button type="button" class="btn btn-primary">Select your
                  services</button>

              </div>
            </div>
          </div>
          <div class="card">
            <div class="backimmageoc">
              <div class="card-body">
                <h6 class="card-title">Office Clean</h6>
                <br><br><br><br><br><br>
                <button type="button" class="btn btn-primary">Select your
                  services</button>

              </div>
            </div>
          </div>
          <div class="card">
            <div class="backimmagevc">
              <div class="card-body">
                <h6 class="card-title">Vehicle Clean</h6>
                <br><br><br><br><br><br>
                <button type="button" class="btn btn-primary">Select your
                  services</button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </tab>
    <tab heading="Movers & Packers" id="tab1">
      <div class="uper_marg">
        <div class="card-deck">
          <div class="card">
            <div class="backimmagehs">
              <div class="card-body">
                <h6 class="card-title">Household Shifting</h6>
                <br><br><br><br><br><br>
                <button type="button" class="btn btn-primary">Select your
                  services</button>

              </div>
            </div>
          </div>

        </div>
      </div>
    </tab>
  </tabset>
</div>
<!-- <div class="modal-footer">
</div>-->


<!-- <div class="modal-header">
  <h4 class="modal-title pull-left"></h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">as</button>
</div> -->