input.ng-invalid.ng-touched{
    border-color:red ;
}
select.ng-invalid.ng-touched{
    border-color:red ;
}
 .color{
     background-color: #f7f7f9;
 }
.myFooter {
      background: linear-gradient(rgba(27, 25, 25, 0.62), rgba(3, 0, 0, 0.9)), url(/assets/solar-panels-1920x500.jpg);
    
      width: 100%;
      height: 100%;
    color: white;
    padding-top: 30px;
    padding-bottom: 130px;
}
