<div class="myFooter">
    <h1 class="card-title">Join Us As Service Professional</h1>
    <p>
        At Hey Provider, we're looking for hard-working, passionate people to help us create the next million jobs
        in India.
    </p>
</div>
<section class="WhyPartner__root--1v6tY">
    <h2>Why become an Hey Provider Partner?</h2>
    <ul>
        <li><img src="https://res.cloudinary.com/urbanclap/image/upload/v1479723358/Icon-2.png"
                style="margin-bottom: 20px;">
            <h3 style="
    color: black;
    margin-bottom: 10px;
">Grow your business</h3>
            <p>Get new customers looking for service professionals like you</p>
        </li>
        <li><img src="https://res.cloudinary.com/urbanclap/image/upload/v1479723358/Icon-1.png"
                style="margin-bottom: 20px;">
            <h3 style="
    color: black;
    margin-bottom: 10px;
">Work on your own terms</h3>
            <p>Quote your own price and choose the customer requests that interest you</p>
        </li>
        <li><img src="https://res.cloudinary.com/urbanclap/image/upload/v1479723358/Icon-3.png"
                style="margin-bottom: 20px;">
            <h3 style="
    color: black;
    margin-bottom: 10px;
">Business Tools</h3>
            <p>Get business tools like online payment and invoicing</p>
        </li>
    </ul>
</section>

<section class="HowItWorks__root--M3CQ1">
    <h2>How Hey Provider Works?</h2>
    <ul>
        <li><span>1</span>
            <h3 style="
    color: black;
    margin-bottom: 10px;
">Get verified customer requests</h3>
            <p>Get connected with customers looking for your service</p>
        </li>
        <li><span>2</span>
            <h3 style="
    color: black;
    margin-bottom: 10px;
">Send quotes</h3>
            <p>Reply to customer leads that match your interests and qualifications</p>
        </li>
        <li><span>3</span>
            <h3 style="
    color: black;
    margin-bottom: 10px;
">Chat and get hired</h3>
            <p>Chat with the customers, finalise the quotes and get hired</p>
        </li>
    </ul><a href="https://partner.urbancompany.com/help-center" target="_blank">Know More</a>
</section>