<app-header-img></app-header-img>

<app-customer-services></app-customer-services>

<app-middle-home></app-middle-home>

<div class="block bottom-sm" style="padding-top: 15px;margin-bottom: 0px;background: #f3f3f3;">
    <div class="container">
        <h2 class="text-center">Our Team <b>Work</b>
        </h2>
        <div class="row text-icon-carousel">
            <div class="col-sm-4">
                <div class="text-icon">
                    <div class="col-sm-9">
                        <h2 class="team-perf-pdf">500+</h2>
                        <!-- <i class="fa fa-users" aria-hidden="true"></i> -->
                    </div>
                    <h5 class="text-icon-title">Happy Customers</h5>
                    <div class="text-icon-text">Quality &amp; Customer satisfaction is our first priority.</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="text-icon">
                    <div class="col-sm-9">
                        <h2 class="team-perf-pdf">2200+ kW</h2>
                        <!-- <i class="fa fa-users" aria-hidden="true"></i> -->
                    </div>
                    <h5 class="text-icon-title">Installed Solar Panels</h5>
                    <div class="text-icon-text">Our team work &amp; performance within last 2+ years in all over India.
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="text-icon">
                    <div class="col-sm-9">
                        <h2 class="team-perf-pdf">10+</h2>
                        <!-- <i class="fa fa-users" aria-hidden="true"></i> -->
                    </div>
                    <h5 class="text-icon-title">Big Industrial Projects</h5>
                    <div class="text-icon-text">We work for a small home to big industries with high Professionals.
                        Hello World
                    </div>
                </div>
            </div>
            <div class="clearfix hidden-xs"></div>
        </div>
    </div>
</div>